{
  "singleQuote": false,
  "trailingComma": "es5",
  "printWidth": 120,
  "tabWidth": 2,
  "semi": true,
  "tailwindFunctions": [
    "clsx",
    "cn",
    "cva"
  ],
  "tailwindStylesheet": "./src/index.css",
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}